<button {{action 'appendAnnouncement'}}
        class="btn btn-default append-announcement">
  Add Announcement
</button>

<ol id="announcements-editor">
  {{#each announcements as |announcement|}}
    <li class="draggable-announcement">
      {{announcement-editor description=announcement.description
                            position=announcement.position
                            announcement-id=announcement.id
                            add-announcement="addAnnouncement"
                            remove-announcement="removeAnnouncement"}}
    </li>
  {{/each}}
</ol>

{{yield}}
