{{textarea placeholder="Enter announcement description..."
           class="announcement-editor"
           value=announcement.description}}

<button {{action 'addAnnouncement'}} class="btn btn-default">
  Add
</button>

<button {{action 'removeAnnouncement'}} class="btn btn-danger">
  Remove
</button>

{{yield}}
