<button {{action 'appendAnnouncement'}}
        class="btn btn-default append-announcement">
  Add Announcement
</button>

{{#sortable-group tagName="ul" onChange="reorderAnnouncements" as |group|}}
  {{#each announcements as |announcement|}}
    {{#sortable-item tagName="li" model=announcement group=group handle=".handle"}}
      {{announcement-editor announcement=announcement
                            add-announcement="addAnnouncement"
                            remove-announcement="removeAnnouncement"}}
      <span class="handle">&varr;</span>
    {{/sortable-item}}
  {{/each}}
{{/sortable-group}}

{{yield}}
