<div data-auto-id="announcements-editor">
  <button {{action (action this.attrs.append)}}
    class="btn btn-secondary append-announcement"
    data-auto-id="append-announcement">
    Add Announcement
  </button>

  <div class="announcements-editor">
    {{#sortable-group
        tagName="ul"
        onChange=(action this.attrs.reorder announcements) as |group|}}
      {{#each announcements as |announcement|}}
        {{#sortable-item
            tagName="li"
            model=announcement
            group=group
            handle=".handle"}}
          {{announcement-editor
              announcement=announcement
              removeannouncement=(action this.attrs.remove)}}
        {{/sortable-item}}
      {{/each}}
    {{/sortable-group}}
  </div>
</div>

{{yield}}
