<button {{action 'appendAnnouncement'}}
        class="btn btn-default append-announcement">
  Add Announcement
</button>

<div class="announcements-editor">
  {{#sortable-group tagName="ul" model=bulletin onChange="reorderAnnouncements" as |group|}}
    {{#each bulletin.sortedAnnouncements as |announcement|}}
      {{#sortable-item tagName="li" model=announcement group=group handle=".handle"}}
        {{announcement-editor announcement=announcement
                              add-announcement="addAnnouncement"
                              remove-announcement="removeAnnouncement"}}
      {{/sortable-item}}
    {{/each}}
  {{/sortable-group}}
</div>

{{yield}}
