<h1>Announcements</h1>
<ol>
  {{#each announcements as |announcement|}}
  <li>
    <div class="announcement">
      {{{announcement.descriptionHtml}}}
    </div>
    {{#with announcement.url as url}}
      <div class="external-link">
        <a href="{{url}}">
          See more
          <i class="glyphicon glyphicon-arrow-right"></i>
        </a>
      </div>
    {{/with}}
  </li>
  {{else}}
  <li>No announcements yet</li>
  {{/each}}
</ol>
{{yield}}
