<div data-auto-id="bulletin-announcements">
  <h1 data-auto-id="title">Announcements</h1>
  <ol>
    {{#each announcements as |announcement|}}
    <li data-auto-id="announcement">
      <div data-auto-id="description">{{markdown-to-html announcement.description}}</div>
    </li>
    {{else}}
    <li data-auto-id="no-announcements">No announcements yet.</li>
    {{/each}}
  </ol>
  {{yield}}
</div>
