<div class="image-preview" data-auto-id="image-preview">
  <div class="preview"
      data-auto-id="canvas"
      style="background-image: url('{{url}}')"></div>
  <i class="icon-cancel" data-auto-id="remove" {{action (action this.attrs.clearimage)}}></i>
</div>
{{yield}}
