{{#hiding-menu throttleTime=200 topTolerance=50 class="navbar navbar-default navbar-fixed-top"}}
  <div class="container">
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"}}
        <i class="icon-cma logo"></i> MCAC
      {{/link-to}}
    </div>
  </div>
  {{yield}}
{{/hiding-menu}}
