<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      {{#link-to "bulletin/sunday" class="navbar-brand"}}<i class="icon-cma"></i>{{/link-to}}
    </div>
  </div>
</nav>
{{yield}}
