<footer class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="logo"><i class="icon-cma"></i></div>
      <h1><a href="/">Montreal Chinese Alliance Church</a></h1>
      <div class="address">
        <a href="https://www.google.ca/maps/place/13+Rue+Finchley,+Hampstead,+QC+H3X+2Z4/@45.4791032,-73.6348992,17z/data=!3m1!4b1!4m2!3m1!1s0x4cc917507e7efe21:0x334fc9316d4951e3">
          13 Finchley, Hampstead, Québec H3X 2Z4
        </a> |
        <a href="tel:5144822703">514.482.2703</a>
      </div>
      <div class="alternate-links">
        <a href="http://montreal-cac.org">滿地可華人宣道會</a> |
        <a href="http://mcac-m.blogspot.ca">教会网站</a> |
        {{#if session.isAuthenticated}}
          {{#link-to "dashboard"}}Dashboard{{/link-to}} |
          <a {{action "invalidateSession"}}>Logout</a>
        {{else}}
          {{#link-to "login"}}Login{{/link-to}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 about">
      <p class="vision-statement">
        Because God loves us, we will love Jesus, love His people, and love the
        world, for Jesus' sake.
      </p>
    </div>
  </div>
</footer>
{{yield}}
