{{#hiding-menu throttleTime=200 topTolerance=50 class="navbar navbar-default navbar-fixed-top"}}
  <div class="container">
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"}}
        <i class="icon-cma logo"></i>
      {{/link-to}}
      {{#link-to "index" class="navbar-brand word"}}MCAC{{/link-to}}
      <div class="navbar-brand clinks">
       <a href="http://montreal-cac.org">滿地可華人宣道會 |</a>
       <a href="http://mcac-m.blogspot.ca">教会网站</a>
      </div>
    </div>
  </div>
  {{yield}}
{{/hiding-menu}}
