$gray-dark: #222;
$gray-light: #ddd;
$pink-light: #fdf2fd;
$white: #fff;

$padding-xs: 1px;
$padding-s: 2px;
$padding-m: 10px;
$padding-l: 25px;
$padding-xl: 42px;

$mobile-break: 320px;
$tablet-portrait-break: 768px;
