$gray-dark: #222;
$gray: #aaa;
$gray-light: #ddd;
$gray-extralight: #efefef;
$pink-light: #fdf2fd;
$white: #fff;

$padding-xs: 1px;
$padding-s: 2px;
$padding-m: 10px;
$padding-l: 25px;
$padding-xl: 42px;

$small-device-break: 768px;
$medium-device-break: 992px;
$large-device-break: 1200px;
