$black: #000;
$gray-dark: #484848;
$gray-extradark: #18191d;
$gray: #aaa;
$gray-light: #ddd;
$gray-extralight: #f1f1f1;
$pink-light: #fdf2fd;
$white: #fff;
$gray-blue-light: #f3f3f3;

$feature-color: $gray;
$accent-color: $black;
$background-color: #fafafa;

$padding-xs: 1px;
$padding-s: 2px;
$padding-m: 10px;
$padding-l: 25px;
$padding-xl: 42px;

$small-device-break: 768px;
$medium-device-break: 992px;
$large-device-break: 1200px;

$nav-bar-height: 50px;
$bulletin-announcements-color: $gray-blue-light;
