@import 'variables.scss';

$announcement-height: 60px;

#announcements-editor {
  padding-left: 20px;

  li {
    border-style: solid;
    border-width: $padding-xs;
    border-color: $gray-light;
    margin: $padding-m 0 $padding-m $padding-m;
    padding: $padding-m;
  }

  .sortable-placeholder {
    height: $announcement-height + 40px;
    border-style: dashed;
    border-width: $padding-s;
    border-color: $gray-light;
    padding: $padding-m;
  }

  .sortable-dragging {
  }

  li.draggable-announcement {
    cursor: ns-resize;
  }
}

.announcements-editor {
  ul {
    list-style: none;
    padding: 0;
  }

  .announcement-editor {
    background-color: $white;
    border-color: $gray-light;
    border-style: solid;
    border-width: $padding-xs;
    margin: $padding-m 0;
    padding: $padding-m;

    textarea.description {
      width: 100%;
      height: $announcement-height;
      border: none;
    }

    .url {
      width: 100%;
      border-style: none;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-color: $gray-light;
      margin-bottom: $padding-m;
    }

    .handle {
      cursor: ns-resize;
    }

    &.deleted {
      display: none;
    }
  }
}
