@import "utils";
@import "announcement-editor";
@import "components/bulletin-cover";
@import "components/bulletin-navigator";
@import "components/bulletin-view";
@import "components/cover-page";
@import "components/group-header";
@import "components/image-preview";
@import "components/mcac-header.scss";
@import "components/pace";
@import "components/page-view";
@import "components/post-composer";
@import "components/post-form";
@import "components/post-view";
@import "footer";
@import "pages/bulletin-form";
@import "pages/dashboard-index";
@import "pages/group-index";
@import "pages/index";
@import "pages/login";
@import "pages/not-found";
@import "pages/password-form";
@import "pages/post-index";
@import "pages/sunday-index";

body {
  background-color: $white;
  padding-top: $nav-bar-height;
  @include body-font();
}

[data-ember-action] {
  cursor: pointer;
}
