footer {
  background-color: $background-color;
  color: $gray;
  font-size: 11px;
  padding-bottom: $padding-m;
  padding-top: $padding-xl;
  text-align: center;

  ul {
    list-style-type: none;
    padding: 0;
  }


  .logo {
    font-size: 36px;
  }

  h1 {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .address {
    a {
      color: $gray;
    }
  }

  .sitemap {
    margin-top: $padding-l;
  }

  a, a.active {
    color: $gray;

    &:hover, &:active {
      color: $gray;
    }

    &:visited {
      color: $gray;
    }
  }

  .about {
    margin: $padding-l 0;
  }

  .vision-statement {
    font-style: italic;
  }

  @media only screen and (min-width: $medium-device-break) {
    border-width: 0 1px;
    border-style: solid;
    border-color: $gray-extralight;
  }
}
