footer {
  color: $gray;
  font-size: 12px;
  margin-bottom: $padding-m;
  margin-top: $padding-xl;
  text-align: center;

  ul {
    list-style-type: none;
    padding: 0;
  }


  .logo {
    font-size: 36px;
  }

  h1 {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 14px;
  }

  .address {
    font-size: 12px;

    a {
      color: $gray;
    }
  }

  .sitemap {
    margin-top: $padding-l;
  }

  a, a.active {
    color: $gray;

    &:hover, &:active {
      color: $gray;
    }

    &:visited {
      color: $gray;
    }
  }

  .about {
    margin: $padding-l 0;
  }

  .vision-statement {
    font-style: italic;
  }
}
