.is-hidden {
  display: none;
}

.tint-dark {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

@mixin clearfix() {
  &:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
  }
}

@mixin flexbox() {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}

@mixin brand-font() {
  font-family: 'Roboto', serif;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  strong {
    font-weight: 900;
  }
}

@mixin body-font() {
  font-family: sans-serif;
}

@mixin post-display-font() {
  font-family: 'Roboto', serif;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin display-font() {
  font-family: 'Arapey', serif;
  font-style: italic;
  font-weight: 400;
}

@mixin margin-top-xl() {
  margin-top: $padding-l;

  @media only screen and (min-width: $medium-device-break) {
    margin-top: $padding-xl;
  }
}

@mixin margin-top-l() {
  margin-top: $padding-m;

  @media only screen and (min-width: $medium-device-break) {
    margin-top: $padding-l;
  }
}

@mixin padding-top-xl() {
  padding-top: $padding-l;

  @media only screen and (min-width: $medium-device-break) {
    padding-top: $padding-xl;
  }
}

@mixin padding-bottom-xl() {
  padding-bottom: $padding-l;

  @media only screen and (min-width: $medium-device-break) {
    padding-bottom: $padding-xl;
  }
}

@mixin padding-top-l() {
  padding-top: $padding-m;

  @media only screen and (min-width: $medium-device-break) {
    padding-top: $padding-l;
  }
}

@mixin padding-bottom-l() {
  padding-bottom: $padding-m;

  @media only screen and (min-width: $medium-device-break) {
    padding-bottom: $padding-l;
  }
}

@mixin padding-bottom-m() {
  padding-bottom: $padding-s;

  @media only screen and (min-width: $medium-device-break) {
    padding-bottom: $padding-m;
  }
}
