.is-hidden {
  display: none;
}

.tint-dark {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  margin-top: 0;
}

@mixin clearfix() {
  &:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
  }
}

@mixin flexbox() {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}

@mixin brand-font() {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  strong {
    font-weight: 400;
  }
}

@mixin body-font() {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  color: #333;
}

@mixin post-display-font() {
  text-transform: uppercase;
}

@mixin header-font() {
  text-transform: uppercase;
}

@mixin display-font() {
  font-family: 'Arapey', serif;
  font-style: italic;
  font-weight: 400;
}

@mixin margin-top-xl() {
  margin-top: $padding-l;

  @media only screen and (min-width: $large-device-break) {
    margin-top: $padding-xl;
  }
}

@mixin margin-top-l() {
  margin-top: $padding-m;

  @media only screen and (min-width: $large-device-break) {
    margin-top: $padding-l;
  }
}

@mixin padding-top-xl() {
  padding-top: $padding-l;

  @media only screen and (min-width: $large-device-break) {
    padding-top: $padding-xl;
  }
}

@mixin padding-bottom-xl() {
  padding-bottom: $padding-l;

  @media only screen and (min-width: $large-device-break) {
    padding-bottom: $padding-xl;
  }
}

@mixin padding-top-l() {
  padding-top: $padding-m;

  @media only screen and (min-width: $large-device-break) {
    padding-top: $padding-l;
  }
}

@mixin padding-top-m() {
  padding-top: $padding-s;

  @media only screen and (min-width: $large-device-break) {
    padding-top: $padding-m;
  }
}

@mixin padding-bottom-l() {
  padding-bottom: $padding-m;

  @media only screen and (min-width: $large-device-break) {
    padding-bottom: $padding-l;
  }
}

@mixin padding-bottom-m() {
  padding-bottom: $padding-s;

  @media only screen and (min-width: $large-device-break) {
    padding-bottom: $padding-m;
  }
}
