.is-hidden {
  display: none;
}

.tint-dark {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

@mixin clearfix() {
  &:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
  }
}

@mixin flexbox() {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}
