.bulletin-view {
  .contents {
    background-color: $white;
    padding-top: 20px; /** cover overflow bug */

    section {
      padding-bottom: $padding-xl;
      padding-top: $padding-xl;

      h1 {
        font-size: 14px;
        margin-bottom: $padding-l;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .secondary-info {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .service-order {
    text-align: center;

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h2 {
      font-family: 'Arapey', serif;
      font-size: 36px;
      font-style: italic;
      font-weight: 400;
    }
  }

  .announcements {
    ol {
      padding-left: 30px;
    }

    .external-link {
      font-size: 10px;
      padding-bottom: 10px;
    }
  }

  @media only screen and
    (min-width: $small-device-break) and
    (max-width: $medium-device-break) {
    .container {
    }

    .secondary-info {
      border-color: $gray-light;
      border-style: solid;
      border-width: 1px 0;
      padding: 10px 0;
    }

    .announcements {
      border-color: $gray-light;
      border-style: solid;
      border-width: 0 1px 0 0;
    }

    .contents .secondary-info {
      display: flex;
    }
  }

  @media only screen and (min-width: $medium-device-break) {
    .service-order {
      text-align: right;

      h2 {
        font-size: 30px;
      }
    }

    .contents {
      padding-top: 30px;

      .row {
        display: flex;
      }

      section {
        padding-top: $padding-xl;
        padding-bottom: $padding-xl;
      }
    }

    .announcements {
      border-style: solid;
      border-width: 0 1px;
      border-color: $gray-extralight;
    }

    .contents,
    .secondary-info {
      @include flexbox();
    }
  }
}

.bulletin-sunday, .bulletin-index {
  .group-header {
    display: none;
  }

  footer {
    background-color: $white;
    border-style: none;
  }
}
