.bulletin-cover {
  background-image: url("images/theme-1920.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0 $padding-m $padding-m $padding-m;

  .inner {
    bottom: $padding-m;
    color: $white;
    position: absolute;
    margin: $padding-m;

    audio {
      max-width: 250px
    }
  }

  h1 {
    margin: 0;
  }

  .name {
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
    color: $gray;

    a, a:visited {
      color: $gray;
    }
  }

  .published-at {
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: $padding-m;
  }

  .description {
    color: $white;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: $padding-m;
  }

  audio {
    margin-top: $padding-m;
  }

  footer {
    font-size: 11px;
    margin-top: 80px;

    &,
    a,
    a:visited {
      color: $gray-light;
    }

    .icon-cma {
      font-size: 14px;
    }
  }

  @media only screen and (min-width: $small-device-break) {
    .inner {
      padding: 0 $padding-xl;

      audio {
        max-width: initial;
      }
    }

    .published-at {
      font-size: 40px;
    }

    .name {
      font-size: 14px;
    }

    .description {
      font-size: 24px;
    }
  }
}
