.bulletin-navigator {
  margin-left: $padding-l;
  margin-top: $padding-l + $nav-bar-height;
  position: absolute;
  z-index: 100;

  .nav-button {
    background: rgb(0, 0, 0); /* Fall-back for browsers that don't support rgba */
    background: rgba(0, 0, 0, .5);
    padding: $padding-m;

    &, &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  @media only screen and (min-width: $medium-device-break) {
    margin-left: $padding-xl;
  }
}
