.bulletin-cover {
  background-image: url("images/theme-1920.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;

  .inner {
    bottom: $padding-m;
    color: $white;
    position: absolute;
    width: 100%;
  }

  h1 {
    margin: 0;
  }

  .name {
    @include display-font();
    color: $white;
  }

  .description {
    color: $white;
    font-size: 18px;
    font-style: normal;
  }

  audio {
    margin-top: $padding-l;
  }

  footer {
    font-size: 11px;
    margin-top: 80px;

    &,
    a,
    a:visited {
      color: $gray-light;
    }

    .icon-cma {
      font-size: 14px;
    }
  }

  @media only screen and (min-width: $medium-device-break) {
    text-align: left;

    .inner {
      padding-left: $padding-xl;
    }

    .name {
      font-size: 60px;
      line-height: 50px;
    }

    .description {
      font-size: 24px;
    }
  }
}
