.bulletin-view {
  .contents {
    background-color: $white;
    section {
      padding-bottom: 100px;
      padding-top: 100px;

      h1 {
        font-size: 14px;
        margin-bottom: $padding-l;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .secondary-info {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .service-order {
    text-align: center;

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h2 {
      font-family: 'Arapey', serif;
      font-size: 36px;
      font-style: italic;
      font-weight: 400;
    }
  }

  .announcements {
    background-color: $bulletin-announcements-color;

    ol {
      padding-left: 30px;
    }

    .external-link {
      font-size: 10px;
      padding-bottom: 10px;
    }
  }

  @media only screen and
    (min-width: $small-device-break) and
    (max-width: $medium-device-break) {
    .container {
      border-color: $gray-light;
      border-style: solid;
      border-width: 0 1px;
    }

    .secondary-info {
      border-color: $gray-light;
      border-style: solid;
      border-width: 1px 0;
    }

    .announcements {
      border-color: $gray-light;
      border-style: solid;
      border-width: 0 1px 0 0;
    }
  }

  @media only screen and (min-width: $medium-device-break) {
    .service-order {
      text-align: right;

      h2 {
        font-size: 30px;
      }
    }

    .contents,
    .secondary-info {
      @include flexbox();
    }
  }
}
