.bulletin-navigator {
  margin-left: $padding-m * 2;
  margin-top: $padding-m * 2;
  position: absolute;
  z-index: 100;

  a, a:hover, a:visited, a:not([href]) {
    i {
      color: $white;
      text-decoration: none;
    }
  }

  .nav-button {
    background: rgb(0, 0, 0); /* Fall-back for browsers that don't support rgba */
    background: rgba(0, 0, 0, .5);
    padding: $padding-m;
  }

  @media only screen and (min-width: $large-device-break) {
    padding-left: $padding-xl;
  }
}
