@import '../variables';

.file-preview {
  position: relative;

  .preview-image {
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin: $padding-m;
  }

  .remove {
    cursor: pointer;
    left: $padding-m * 2;
    padding: $padding-m;
    position: absolute;
    top: $padding-m;
  }
}
