.navbar {
  background-color: $white;
  border-style: none;
  padding: 0;
  width: 100%;
  z-index: 100;

  .navbar-header {
    float: none;
    height: $nav-bar-height;
    margin-left: 0;
    margin-right: 0;

    .navbar-brand {
      color: $black;
      float: none;
      line-height: $nav-bar-height;
      margin-right: 0;
      padding: 0;
      position: relative;

      &.word {
        top: -5px;
      }

      &.clinks {
        a { color: $black; }
        float: right;
      }
    }

    i.logo {
      font-size: 36px;

      &:before {
        margin-left: 0;
      }
    }
  }

  &.hiding-menu.hidden {
    display: initial !important;
  }

  @media only screen and (min-width: $medium-device-break) {
    .navbar-header .navbar-brand {
      margin-left: 0;
    }
  }
}
