.navbar {
  background-color: transparent;
  border-style: none;
  color: $white;
  width: 100%;

  .navbar-header {
    float: none;
    padding: 6px 0 0 $padding-m;

    .navbar-brand {
      color: $white;
      float: none;
      line-height: $nav-bar-height;
      padding: 0;
      position: relative;
    }

    i.logo {
      font-size: 36px;

      &:before {
      }
    }

    abbr[title] {
      border-style: none;
      position: absolute;
      top: -8px;
    }
  }

  @media only screen and (min-width: $small-device-break) {
  }
}
