.navbar {
  z-index: 100;
  background-color: $white;
  border-style: none;
  width: 100%;

  .navbar-header {
    float: none;
    height: $nav-bar-height;
    margin-left: 0;
    margin-right: 0;

    .navbar-brand {
      color: $black;
      float: none;
      line-height: $nav-bar-height;
      padding: 0;
      position: relative;
    }

    i.logo {
      font-size: 36px;

      &:before {
        margin-left: 0;
      }
    }

    abbr[title] {
      border-style: none;
      position: absolute;
      cursor: pointer;
    }
  }

  @media only screen and (min-width: $small-device-break) {
    .navbar-header .navbar-brand {
      margin-left: 0;
    }
  }
}
