.navbar {
  background-color: $gray-extradark;
  height: $nav-bar-height;
  min-height: $nav-bar-height;

  &.navbar-default {
    border-color: $gray-extradark;
  }

  .navbar-brand {
    @include brand-font();

    color: $gray;
    padding: 4px 0;
    height: initial;

    strong {
      color: $gray-light;
    }

    abbr {
      border-bottom-style: none;
    }

    &:hover {
      color: $gray-extralight;
    }
  }

  .long-brand {
    display: none;
  }

  .short-brand {
    display: inline-block;
  }

  @media only screen and (min-width: $medium-device-break) {
    .navbar-brand {
      padding-left: 15px;
      padding-right: 15px;
    }

    .long-brand {
      display: inline-block;
    }

    .short-brand {
      display: none;
    }
  }
}
