.post-view {
  font-family: serif;
  font-size: 16px;
  margin-top: $padding-xl;

  .post-container {
    background-color: $gray-extralight;
    padding-bottom: $padding-xl;
    padding-top: $padding-xl;
  }

  h1 {
    @include display-font();
  }

  blockquote {
    @include display-font();
    border-left-style: none;
    font-size: 20px;
    padding: $padding-l 0;
  }

  .banner {
    img {
      width: 100%;
    }
  }

  header {
    padding-bottom: $padding-l;
  }

  @media only screen and (min-width: $medium-device-break) {
    font-size: 18px;

    blockquote {
      font-size: 28px;
    }
  }
}
