.post-form {
  background-color: $gray-extralight;
  padding-bottom: $padding-xl;
  padding-top: $padding-xl;

  .banner-preview {
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin-bottom: 15px;
  }

  progress {
    margin-top: 6px;
  }
}
