.bulletin {
  .cover {
    background-image: url("images/theme-1920.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;

    .bulletin-cover {
      bottom: $padding-m;
      color: $white;
      position: absolute;
      width: 100%;
    }

    h1 {
      margin: 0;
    }

    .name {
      color: $white;
      font-family: 'Arapey', serif;
      font-style: italic;
      font-weight: 400;
    }

    .description {
      color: $white;
      font-size: 18px;
      font-style: normal;
    }

    footer {
      font-size: 11px;
      margin-top: 80px;

      a {
        color: $white;
      }
    }
  }

  .bulletin-contents {
    position: relative;

    section {
      padding: 100px 0;
    }
  }

  .service-order {
    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h2 {
      font-family: 'Arapey', serif;
      font-size: 36px;
      font-style: italic;
      font-weight: 400;
      margin-top: 0;
    }
  }

  @media only screen and (min-width : $mobile-break) {
    .bulletin-contents {
      .announcements {
        background-color: $pink-light;
      }

      .service-order {
        text-align: center;
      }
    }
  }

  @media only screen and (min-width : $tablet-portrait-break) {
    .cover {
      text-align: left;

      .bulletin-info,
      footer {
        padding-left: 42px;
      }

      .name {
        font-size: 60px;
        line-height: 50px;
      }

      .description {
        font-size: 24px;
      }
    }

    .bulletin-contents {
      .inner:before {
        background-color: $pink-light;
        bottom: 0;
        content: "";
        left: 50%;
        position: absolute;
        right: 0;
        top: 0;
      }

      .service-order {
        padding-right: 50px;
        text-align: right;
      }
    }
  }
}
