.dashboard {
  background-color: $gray-extralight;
  padding-bottom: $padding-xl;
  padding-top: $padding-xl;

  @media only screen and (min-width: $small-device-break) {
  }

  @media only screen and (min-width: $medium-device-break) {
  }
}

