.dashboard {
  background-color: $gray-extralight;
  padding-bottom: $padding-xl;
  padding-top: $padding-xl;

  .latest-bulletins {
    padding-top: $padding-l;
  }

  .bulletin-actions {
    padding-top: $padding-m;
  }

  .create-bulletin {
    margin-bottom: $padding-l;
  }
}

