@mixin panel() {
  background-color: $white;
  margin-bottom: $padding-xl;
}

.group-index {
  background-color: $gray-extralight;

  .group-details {
    text-align: center;
    margin: $padding-m 0;

    .group-name {
      font-size: 16px;
      margin-top: $padding-m;
    }

    .short-description {
      display: none;
    }

    .group-info {
      color: $gray;
      font-size: 12px;
    }
  }

  .profile-picture {
    margin: -60px auto 0 auto;
    background-position: center;
    background-size: cover;
    background-color: $gray;
    width: 120px;
    height: 120px;
    border-style: solid;
    border-color: $white;
    border-width: $padding-s;
  }

  .post-view-banner {
    background-color: $gray-dark;
    background-position: center;
    background-size: cover;
    color: $white;
    margin-bottom: $padding-m;
    padding: 110px $padding-l $padding-l $padding-l;
    position: relative;
  }

  .group-banner {
    background-color: $gray-dark;
    background-position: center;
    background-size: cover;
    color: $white;
    padding: 75px $padding-l $padding-l $padding-l;
    position: relative;

    h1 {
      font-size: 24px;
      font-weight: normal;
    }

    a {
      color: $white;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .group-about {
    @include panel();
    font-size: 12px;

    ul {
      padding-left: 14px;
    }
  }

  .group-posts {
    background-color: $white;
  }

  .post {
    @include panel();

    h3 {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;

      a {
        color: $gray-dark;
      }
    }

    .post-details {
      color: $gray;
      font-size: 12px;
      margin-bottom: $padding-m;
    }
  }

  h2 {
    color: $gray-dark;
    font-size: 11px;
    text-transform: uppercase;
  }

  @media only screen and (min-width: $small-device-break) {
    .group-banner {
      padding-top: 200px;
    }

    .post-view-banner {
      padding-top: 200px;
    }

    .group-details {
      text-align: initial;

      .profile-picture {
        margin-top: initial;
        background-position: center;
        background-size: cover;
        color: $white;
        width: 120px;
        height: 120px;
        border-style: solid;
        border-color: $white;
        border-width: $padding-s;
      }

      .group-name {
        font-size: 22px;
      }

      .short-description {
        display: block;
        margin: $padding-m 0;
      }

      .group-info {
      }
    }
  }

  @media only screen and (min-width: $medium-device-break) {
    .group-details {
      .group-name {
      }

      .short-description {
      }

      .group-info {
      }
    }
  }
}
