.group-index {
  background-color: $white;

  .row {
    background-color: $background-color;
  }

  section > h2 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 11px;
    text-transform: uppercase;
    color: $gray-light;
  }

  .latest-news {
    padding-top: $padding-m;


    .post-view:nth-of-type(1) {
      padding-top: 0;
    }
  }

  .about-group {
    padding-top: $padding-m;

    ul {
      padding-left: 14px;
    }
  }

  .latest-news > div {
    margin-right: -15px;
    margin-left: -15px;
  }

  @media only screen and (min-width: $small-device-break) {
    border-width: 0 1px;
    border-style: solid;
    border-color: $gray-extralight;

    .about-group {
      font-size: 13px;
    }

    .latest-news > div {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
