.group-index {
  background-color: $white;

  h2 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 11px;
    text-transform: uppercase;
  }

  .latest-news {
    padding-top: $padding-m;


    .post-view:nth-of-type(1) {
      padding-top: 0;
    }
  }

  .about-group {
    padding-top: $padding-m;

    ul {
      padding-left: 14px;
    }
  }

  @media only screen and (min-width: $small-device-break) {
    .about-group {
      font-size: 12px;
    }
  }
}
