.main-index {
  text-align: center;

  .cover-page {
    background-image: url("images/main-1920.jpg");

    .inner {
      padding: 100px 0;
      text-align: center;
      width: 100%;
    }

    h1 {
      color: $white;
      font-weight: normal;
      text-transform: uppercase;
    }

    .view-bulletin {
      margin-top: $padding-m;
    }
  }

  .theme {
    background-color: $gray-blue-light;
  }

  .around-church {
    .body {
      margin-bottom: $padding-xl;
    }

    .group {
      text-align: center;
      margin-top: $padding-l;

      .description {
        margin-top: $padding-m;

        a {
          @include body-font();
        }
      }

      &:first-of-type {
        margin-top: 0
      }
    }
  }

  section {
    font-size: 18px;
    padding-top: $padding-xl;
    padding-bottom: $padding-xl;
  }

  @media only screen and (min-width: $small-device-break) {
    .cover-page {
      h1 {
        font-size: 64px;
        font-weight: bold;
      }
    }

    .theme {
      background-color: $gray-blue-light;
    }

    .around-church {
      .group, .group:first-of-type {
        margin-top: 0;
      }
    }

    section {
      font-size: 22px;
      padding-bottom: $padding-xl * 2;
      padding-top: $padding-xl * 2;
    }
  }

  @media only screen and (min-height: 420px) {
    .cover-page {
      .inner {
        padding-top: 250px;
      }
    }
  }

  @media only screen and (min-height: 800px) {
    .cover-page {
      .inner {
        padding-top: 350px;
      }
    }
  }
}

.index {
  footer {
    background-color: transparent;
    border-style: none;
  }
}
