.main-index {
  padding-bottom: 500px;

  .cover-page {
    background-image: url("images/main.jpg");

    .inner {
      padding: 100px 0;
      text-align: center;
      width: 100%;
    }

    h1 {
      color: $white;
      font-weight: normal;
      text-transform: uppercase;
    }

    button {
      margin-top: $padding-l;
    }
  }

  @media only screen and (min-width: $small-device-break) {
    .cover-page {
      .inner {
        padding-top: 350px;
      }

      h1 {
        font-size: 64px;
        font-weight: bold;
      }
    }
  }

  @media only screen and (min-height: 420px) {
    .cover-page {
      .inner {
        padding: 200px 0;
      }
    }
  }
}
