.bulletin {
  .cover {
    background-image: url(images/theme.jpg);
    background-size: cover;
    box-shadow: inset 0 0 500px rgba(255, 255, 255, .5);
    position: relative;
    text-align: center;

    h1 {
      font-family: 'Arapey', serif;
      font-style: italic;
      font-weight: 400;
      margin: 0;

      small {
        font-family: sans-serif;
        font-style: normal;
        font-size: 18px;
      }
    }

    @media only screen and (min-width : 768px) {
      text-align: left;
      padding-left: 42px;

      h1 {
        font-size: 60px;
        line-height: 50px;

        small {
          font-size: 24px;
        }
      }
    }
  }

  .bulletin-contents {
    position: relative;

    @media only screen and (min-width : 320px) {
      section.announcements {
        background-color: #FDF2FD;
      }
    }

    @media only screen and (min-width : 768px) {
      .inner:before {
        content: '';
        position: absolute;
        right: 0;
        left: 50%;
        top: 0;
        bottom: 0;
        background-color: #FDF2FD;
      }
    }

    section {
      padding: 100px 0;
    }

    section.service-order {
      @media only screen and (min-width : 320px) {
        text-align: center;
      }

      @media only screen and (min-width : 768px) {
        text-align: right;
        padding-right: 50px;
      }
    }
  }

  .service-order ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }

      h2 {
        margin-top: 0;
        font-family: 'Arapey', serif;
        font-weight: 400;
        font-style: italic;
        font-size: 36px;
      }
    }
  }
}
