.bulletin {
  .cover {
    background-image: url(images/theme-1920.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 500px rgba(255, 255, 255, .5);
    position: relative;
    text-align: center;

    h1 {
      font-family: 'Arapey', serif;
      font-style: italic;
      font-weight: 400;
      margin: 0;

      small {
        font-family: sans-serif;
        font-style: normal;
        font-size: 18px;
      }
    }

  }

  .bulletin-contents {
    position: relative;

    section {
      padding: 100px 0;
    }
  }

  .service-order ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }

      h2 {
        font-family: 'Arapey', serif;
        font-style: italic;
        font-weight: 400;
        margin-top: 0;
        font-size: 36px;
      }
    }
  }
}

@media only screen and (min-width : $mobile-break) {
  .bulletin-contents {
    section.announcements {
      background-color: #FDF2FD;
    }

    section.service-order {
      text-align: center;
    }
  }
}

@media only screen and (min-width : $tablet-portrait-break) {
  .cover {
    padding-left: 42px;
    text-align: left;

    h1 {
      font-size: 60px;
      line-height: 50px;

      small {
        font-size: 24px;
      }
    }
  }

  .bulletin-contents {
    .inner:before {
      background-color: #FDF2FD;
      bottom: 0;
      content: '';
      left: 50%;
      position: absolute;
      right: 0;
      top: 0;
    }

    section.service-order {
      padding-right: 50px;
      text-align: right;
    }
  }
}
