<div class="container single-post-index" data-auto-id="post-index">
  <div class="row">
    <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
      {{post-view post=model snippets=false}}
    </div>
  </div>
</div>
{{outlet}}
