<div class="container single-post-index" data-auto-id="post-index">
  <div class="row">
    <section class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
      <div>
        {{post-view post=model snippets=false}}
      </div>
    </section>
  </div>
</div>
{{outlet}}
