<div class="container post-index" data-auto-id="post-index">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
      {{post-view post=model snippets=false}}
    </div>
  </div>
</div>
{{liquid-outlet}}
