<div class="container bulletin-form">
  <h2>Add a bulletin</h2>
  {{bulletin-editor bulletin=model
      appendannouncement=(action "noop")
      diduploadaudio=(action "didUploadAudio")
      diduploadbanner=(action "didUploadBanner")
      onsave=(action "saveBulletin")
      removeannouncement=(action "noop")
      reorderannouncements=(action "noop")}}
</div>
