<div class="container bulletin-form">
  <h2>Update bulletin</h2>
  {{bulletin-editor bulletin=model
      appendannouncement=(action "appendAnnouncement")
      clearaudio=(action "clearAudio")
      clearbanner=(action "clearBanner")
      diduploadaudio=(action "didUploadAudio")
      diduploadbanner=(action "didUploadBanner")
      onsave=(action "saveBulletin")
      removeannouncement=(action "removeAnnouncement")
      reorderannouncements=(action "reorderAnnouncements")}}
</div>
