<div class="container bulletin-form">
  <h2>Update bulletin</h2>
  {{bulletin-editor bulletin=model
      on-save="saveBulletin"
      did-upload-banner="didUploadBanner"
      did-upload-audio="didUploadAudio"
      append-announcement="appendAnnouncement"}}
</div>
