<div class="container bulletin-form">
  <h2>Update bulletin</h2>
  {{bulletin-editor bulletin=model
      onsave=(action "saveBulletin")
      did-upload-banner="didUploadBanner"
      did-upload-audio="didUploadAudio"
      appendannouncement=(action "appendAnnouncement")
      removeannouncement=(action "removeAnnouncement")
      reorderannouncements=(action "reorderAnnouncements")}}
</div>
