<div class="bulletin">
  <section class="cover">
    {{bulletin-cover bulletin=model}}
  </section>
  <div class="container">
    <div class="row contents">
      <section class="col-sm-12 col-md-3 service-order">
        {{service-order order=model.serviceOrderHtml}}
      </section>
      <div class="col-sm-12 col-md-9 secondary-info">
        <section class="col-sm-6 col-md-7 announcements">
          {{bulletin-announcements announcements=model.sortedAnnouncements}}
        </section>
        <section class="col-sm-6 col-md-5 sermon-notes">
          {{sermon-notes notes=model.sermonNotesHtml}}
        </section>
      </div>
    </div>
  </div>
</div>
