<div class="main-index" data-auto-id="index">
  {{#cover-page}}
    <h1>Loved, Loving.</h1>
    <button class="btn btn-default" data-auto-id="listen-sermons-button" {{action "viewOnlineSermons"}}>
      Listen to sermons online
    </button>
  {{/cover-page}}
  {{outlet}}
</div>
