<div class="main-index" data-auto-id="index">
  {{#cover-page}}
    <h1>Loved, Loving.</h1>
    {{#link-to "bulletin/sunday" class="btn btn-default view-bulletin" data-auto-id="listen-sermons-button"}}
      View our latest bulletin
    {{/link-to}}
  {{/cover-page}}
  <section class="theme">
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
          As a congregation of the Montreal Chinese Alliance Church we believe
          <strong>because God loves us, we will love Jesus, love His people, and
          love the world, for His sake</strong>.
        </div>
      </div>
    </div>
  </section>
  <section class="container around-church">
    <div class="row body">
      <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
        Want to know more about our church? Check out some of the groups within
        our church that may interest you.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4 group" {{action "viewEnglishService"}}>
        <img src={{cloudinary-fetch url="https://mcac.s3.amazonaws.com/groups/5c7d76a8-d195-4907-951d-5b3fb00c438d.jpg"
                                    width=200
                                    radius="max"
                                    height=200 crop="fill"}} />
        <div class="description">
          English Service
        </div>
      </div>
    </div>
  </section>
  {{outlet}}
</div>
