<div class="main-index" data-auto-id="index">
  {{#cover-page}}
    <h1>Loved, Loving.</h1>
    {{#link-to "bulletin/sunday" class="btn btn-outline-primary view-bulletin" data-auto-id="listen-sermons-button"}}
      View our latest bulletin
    {{/link-to}}
  {{/cover-page}}
  <section class="theme">
    <div class="container">
      <div class="row">
        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
          As a congregation of the Montreal Chinese Alliance Church we believe
          <strong>because God loves us, we will love Jesus, love His people, and
          love the world, for Jesus' sake</strong>.
        </div>
      </div>
    </div>
  </section>
  <section class="container around-church">
    <div class="row body">
      <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
        Want to know more about our church? Check out some of the groups within
        our church that may interest you.
      </div>
    </div>
    <div class="row">
      {{#each model as |group|}}
      <div class="col-md-4 group">
        {{#link-to "group.index" group.slug}}
          <img class="profile-picture"
            src={{cloudinary-fetch url=group.profilePictureUrl
                                   width=200
                                   radius="max"
                                   height=200
                                   crop="fill"}} />
        {{/link-to}}
        <div class="description">
          {{#link-to "group.index" group.slug}}
            {{group.name}}
          {{/link-to}}
        </div>
      </div>
      {{/each}}
      <div class="col-md-4 group">
        <img class="profile-picture"
          src={{cloudinary-fetch url="https://mcac.s3.amazonaws.com/bulletins/3017d548-1461-4520-8153-3ed1d910e11a.jpg"
                                 width=200
                                 radius="max"
                                 height=200
                                 crop="fill"}} />
        <div class="description">
          Coming Soon...
        </div>
      </div>
    </div>
  </section>
  {{outlet}}
</div>
