{{input type="text"
        value=email
        class="email"
        insert-newline="login"
        data-auto-id="login-email"}}

{{input type="password"
        value=password
        class="password"
        insert-newline="login"
        data-auto-id="login-password"}}

<button {{action 'login'}} type="submit" class="submit">Login</button>
